
#mapContainer {
  backgroundColor: #ccc;
  /* flex-grow: */
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

.container-div {
  /* display: flex; */
  height: 100%;
  width: 100%;
  position: relative;

}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 15px;
  padding-bottom: 30px;
  position: absolute;
  z-index: 10;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-inner {
  background: #8856a7;
  flex-grow: 1;
  opacity: .9;
  border-radius: 10px;
}

.sidebar-innest {
  dispaly: flex;
  margin: 10;
}

.sidebar h3 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.sidebar-inner p {
  color: #ffffff;
}

.sidebar-innest h4 {
  color: #ffffff;
}



/* TOGGLE STYLING */
.toggle-container{
  background-color: #8856a7;
  border-radius: 10px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  padding: 10px;
  opacity: .9;
}

.toggle-container h4{
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  width: 180px;
}


#toggle-year{
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 1;
}

.input-group-text {
  background-color: #f5f5f5;
  border: none;
  font-size:14px;
}

.input-group {
  background-color:#8856a7;
  opacity: .9;
}
/* End toggle styling */
